* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
}

nav {
    border-bottom: 1px solid gray;
    padding: 0.6rem 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container-left {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.nav-container-left img {
    width: 14%;
    height: 14%;
}

.nav-container-left ul {
    padding: 0.8rem;
    padding-left: 2rem;
    display: flex;
    gap: 1.5rem;
    text-decoration: none;
}

.nav-container-left ul li {
    text-transform: capitalize;
    list-style-type: none;
    text-decoration: none;
    transition: all 1s ease;
}

.nav-container-left ul li:hover {
    text-decoration: underline;
}

.nav-container-left ul li a {
    color: rgba(52, 51, 51, 0.911);
    font-size: 0.8rem;
    text-decoration: none;
}

.nav-container-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}

.nav-container-right h3 a {
    font-weight: 400;
    color: rgba(52, 51, 51, 0.911);
    font-size: 0.83rem;
    text-decoration: none;

}

.nav-container-right-1 {
    display: flex;
    gap: 0.2rem;
}

.all-microsoft {
    display: flex;
    align-items: center;
}

.all-microsoft:hover {
    text-decoration: underline;
}

i {
    font-size: 1.2rem;
    color: gray;
}

.ri-user-add-line {
    padding: 0.3rem;
    border-radius: 50px;
    color: gray;
    font-weight: 400;
    border: 0.5px solid grey;
}

.section-1 {
    position: relative;
    height: 75%;
    object-position: center;
    background: linear-gradient(to right, #F2EDE4, #E8DAC3);
}

.section-1 img {
    width: 100%;
    height: 79%;
    object-fit: cover;
}

.section-1-content-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    position: absolute;
    top: 23%;
    left: 5%;
    padding: 3rem;
    width: 40%;
}

.section-1-content-container h1 {
    font-size: 2rem;
    font-weight: 500;
}

.section-1-content-container h3 {
    font-size: 0.9rem;
    width: 90%;
    text-transform: capitalize;
    line-height: 1.5rem;
    letter-spacing: 0.04rem;
    font-weight: 400;
}
.section-1-content-container-button{
    background-color: #0067B8;
    color: white;
    font-size: 1rem;
    padding: 0.7rem 1.2rem ;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    
}
.section-1-content-container-button-2{
color: #0067B8;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
}
.ri-arrow-right-s-line{
    color: #0067B8;
}
.section-1-content-container-button-2-container{
display: flex;
}

.section-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.shopsection{
    padding:2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}
.shopsection img{
    width: 13%;
}
.shopsection a{
    color: #0067B8;
    font-weight: 600;
}